@model HeiMa8.OA.Model.ActionInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function afterEdit(data) {
            if (data == "ok") {
                window.parent.window.afterEditSuccess();
            }
            else
                alert("失败了");
        }

        //提交表单
        function submitForm() {
            $("form").submit();
        }
    </script>

    
    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "afterEdit" }))
    {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>修改权限</legend>
    
            @Html.HiddenFor(model => model.ID)
                   @Html.HiddenFor(model => model.DelFlag)
            @Html.HiddenFor(model => model.ModfiedOn)
                @Html.HiddenFor(model => model.SubTime)
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ReMark)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ReMark)
                @Html.ValidationMessageFor(model => model.ReMark)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.Url)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.HttpMethod)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HttpMethod)
                @Html.ValidationMessageFor(model => model.HttpMethod)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.ActionName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ActionName)
                @Html.ValidationMessageFor(model => model.ActionName)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.IsMenu)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsMenu)
                @Html.ValidationMessageFor(model => model.IsMenu)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.MenuIcon)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.MenuIcon)
                @Html.ValidationMessageFor(model => model.MenuIcon)
            </div>
    
            <p>
                <input type="submit" value="保存" />
            </p>
        </fieldset>
    }
   
</body>
</html>
